@page
@model LoginModel



@{
    ViewData["Title"] = "Logowanie";
}

<style>
    .card {
        box-shadow: 0 0 1em grey;
        padding: 4px 3px;
        border-radius: 10px/5px;
    }
</style>


<div class="row">
    <div class="col-md-3" style="width:800px; margin:0 auto;">
        <div class="card">
            <div class="card-body">
                <h1>@ViewData["Title"]</h1>
                <section>
                    <form id="account" method="post">
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Password"></label>
                            <input asp-for="Input.Password" class="form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label asp-for="Input.RememberMe">
                                    <input asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-lg">Zaloguj</button>
                            <a href="~/" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Cofnij</a>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
