
@page
@model RegisterModel



@{
    ViewData["Title"] = "Register";
}



<div class="col-md-4" style="width:800px; margin:0 auto;">
    <h2>Skontaktuj się z Administratorem</h2>
    <p>W celu uzyskania dostępu do tworznia ofert</p>
</div>

