@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@if (SignInManager.IsSignedIn(User))
{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link text-info" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Witaj, @User.Identity.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/" method="post">
                <button type="submit" class="nav-link btn btn-link text-info">Wyloguj</button>
            </form>
        </li>
    </ul>
}
else
{
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="text-align:left;">

    <a class="navbar-brand" style="text-align:left;" href="/"> Strona główna </a>
    <a class="navbar-brand" href="/Registration"> Rejestracja <span class="sr-only">(current)</span></a>

</nav>

}

