<AuthorizeView>
  
    <NotAuthorized>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <a class="navbar-brand" href="/"> Strona główna </a>
            <a class="navbar-brand" href="Identity/Account/Login"> Logowanie  </a>
            <a class="navbar-brand" href="/Registration"> Rejestracja <span class="sr-only">(current)</span></a>

            
        </nav>

    </NotAuthorized>
</AuthorizeView>
