<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="#"> Welcome ! </a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<style>


    .card {
        margin-left: 50px;
        margin-right: auto;
    }

    .navbar-brand {
        font-family: cursive;
        
    }
</style>

<br />


<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">

    <AuthorizeView>
        <Authorized>
            <div class="card" style="width:8rem">
                <div class="card-img-top">
                    <center> <img class="card-img-top" src="/css/static/zdj.jpg" alt="Card image cap"> </center>
                    <center> <a href="Product">@context.User.Identity.Name!</a> </center>
                </div>
            </div>
        </Authorized>
    </AuthorizeView>

    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <AuthorizeView Roles="Administrators">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="Administrator">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Administrator
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="Users">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="indexproduct">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Your products
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="Users">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="addproduct">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Add products
                </NavLink>
            </li>
        </AuthorizeView>
    </ul>
</div>



<form method="post" action="Identity/Account/LogOut">
    <button type="submit" class="btn btn-primary btn-lg">Log out</button>
</form>



@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
