

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="#">  </a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<style>


    .card {
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0 0 1em grey;
        padding: 4px 3px;
        border-radius: 15px/5px;
    }

</style>

<br />


<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">

    <AuthorizeView>
        <Authorized>
            
                    <center> <img src="/css/static/user1.png" alt="Avatar" class="avatar"> </center>
                    <center> <p style="color:ghostwhite;">@context.User.Identity.Name</p> </center>
             
        </Authorized>
    </AuthorizeView>

    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Strona główna
            </NavLink>
        </li>
        <AuthorizeView Roles="Administrators">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="Administrator">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Stwórz konto
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="Administrators">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="adminregistrationlist">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Formularze
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="Administrators">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="adminProductList">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Usuń z DB produkty
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="Users">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="indexproduct">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Twoje Produkty
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="Users">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="addproduct">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Dodaj Produkt
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="Users,Administrators">
            <form method="post" action="Identity/Account/LogOut">
                <button type="submit" class="btn btn-dark btn-lg btn-block">Wyloguj</button>
            </form>
        </AuthorizeView>
    </ul>
</div>







@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
